*,*::before,*::after{
  box-sizing: border-box;
}
body{
    /* background: linear-gradient(to right, hsl(200, 100%, 50%),#00FF6C); */
    background-color: #212529;
}
.cal__grid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,5rem);
  grid-template-rows: minmax(9rem,auto) repeat(5,5rem);

}

.output{
  position: relative;
  grid-column: 1/-1;
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .output-absolute{
  position: absolute;
  height: 6rem;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  background-color: crimson;
  /* visibility: hidden; */
}
.app__name{
  visibility: hidden;
}
.output .previous__operand{
  font-size: 1.5rem;
}
.output .current__operand{
  font-size: 2.5rem;
}


.cal__grid > button {
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: rgba(255, 255, 255, 0.9); */
  outline: none;
  border: 1px solid white;
  font-size: 1.9rem;
  cursor: pointer;
}

.cal__grid > button:hover,
.cal__grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.cal__grid .equal{
  background-color: rgb(242, 178, 68);
}

.span__two {
  grid-column: span 2;
}

@media only screen and (max-width: 600px) {
  body{
    background-color: #0d1b2a;
  }
   .app__container{
    overflow: hidden;
    height: 98svh;
   }
.cal__grid{
  
  grid-template-columns: repeat(4,5.5rem);
  grid-template-rows: minmax(10rem,0) repeat(5,5rem);
  /* padding: rem; */
  gap:.1rem;
  bottom:0;
}
.output{
  grid-column: 1/-1;
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap:normal;
  word-break: keep-all;
}
.output .output-absolute{
  position: absolute;
  height: 10rem;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  background-color: crimson;
}
.app__name{
  visibility: visible;
  height: 3rem;
  margin: 1.5rem 0;
  /* background-color: #ced4da; */
  color: rgb(204, 107, 22);
  text-shadow: orange ;
  font-size: 2rem;
  text-align: center;
}
.output .previous__operand{
  font-size: 1.5rem;
}
.output .current__operand{
  font-size: 2.5rem;
}
.cal__grid > button {
  /* background-color: rgba(55, 53, 53, 0.7); */
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  border: 1px solid white;
  font-size: 1.75rem;
  cursor: pointer;
}

}